*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* This makes the wrapper take full height of the viewport */
}

.content {
    position: relative;
    overflow: hidden;
}

p{
    color: black;
    font-size: 20;
}

.content-about{
    display: flex;
    justify-content: space-evenly;
    
}

.image-right {
    float: right;
    margin: 0 0 10px 10px;
    width: 300px; /* Adjust the width as needed */
    height: auto; /* Keeps the aspect ratio */
}